nav {
  background-color: #fff;
  height: 10%;
  width: 100%;
}

ul li {
  list-style: none;;
}

ul li a {
  color: darkgray;
  font-family: sans-serif;
  text-decoration: none;
}

ul li a:hover {
  color: gray;
}

.nav-links {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.logo {
  font-family: sans-serif;
  margin-right: auto;
}

.link {
  margin-right: 2%;
}